@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(50px, 1fr)); 
  grid-template-rows: repeat(8, auto); 
  gap: 5px; 
  width: 90%; /* Shrink container width */
  padding: 10px; 
  margin: 20-px auto;
  border: 2px solid #2a5274;
  background-color: #2a5274;
  border-radius: 10px;
  box-sizing: border-box;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a5274;
  color: white;
  font-size: 0.8em; /* Smaller text */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 3px; /* Smaller padding within cells */
}

.grid-item:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.grid-item .name {
  font-size: 0.9em; /* Slightly smaller name text */
  font-weight: bold;
  margin-bottom: 5px;
}

.grid-item .weight {
  font-size: 0.9em; /* Slightly smaller name text */
  font-weight: bold;
  margin-bottom: 5px;
}

.grid-item {
  outline: none;
  border-color: #154f92;
  box-shadow: 0 0 5px rgba(99, 102, 241, 0.5);
}

.comment-section {
  width: 100%;
  padding: 20px;
  background-color: #2a5274;
  border: 2px solid #061253;
}




.comment-section button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-section button:hover {
  background-color: #45a049;
}

.comment-section button:active {
  background-color: #388e3c;
}

.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between;*/
  height: 100vh;
  width: 200vh;
  margin: 0;
  background-color: #253946;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7fafc;
  background-image: url("cargoBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-in-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 550px;
  height: 500px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-box {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.submit-comment-button {
  width: 100%;
  padding: 10px;
  background-color: #a2aba2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover, .submit-comment-button:hover {
  background-color: #45a049;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
